<!DOCTYPE html>
<html>
<head>
  <title>MMORPS</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <script src="/js/vendor/modernizr.js"></script>
</head>

<center><body>
  <h1>MMORPS</h1>

  <table>
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>Player</td>
      <td><%= session[:player_score] %></td>
    </tr>
    <tr>
      <td>Computer</td>
      <td><%= session[:computer_score] %></td>
    </tr>
  </table>

  <h2>Result: <%= session[:game_statement] %></h2>

  <h2>Choose!</h2>

  <form action="/" method="post">
    <input type="submit" name="choice" value="Rock"></input>
    <input type="submit" name="choice" value="Paper"></input>
    <input type="submit" name="choice" value="Scissors"></input>
  </form>

  <h2><% session %></h2>
  <h3>View count: <%= visit_count %></h3>
  <h3>Player choice: <%= session[:player_choice] %></h3>
  <h3>Computer choice: <%= session[:computer_choice] %></h3>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
</body></center>

</html>
